<footer class="footer">
  <div class="footer-main">
    <figure class="footer-brand">
      <a class="logo" href="" target="_blank" rel="noopener"><img src="{{uiRootPath}}/img/embedded-university-logo.svg" alt="Embedded University" width="48"></a>
      <figcaption class="footer-brand-name"><a href="" target="_blank" rel="noopener">Embedded University</a></figcaption>
    </figure>
    <ul class="footer-brand-links">
    </ul>
    <p class="footer-brand-follow">
    </p>
  </div>
  <div class="footer-legal">
    <p>Copyright © {{{year}}} John M. Larkin. {{page.attributes.license}}</p>
    <p>The <a href="https://github.com/JohnMLarkin/embedded-docs-ui" target="_blank" rel="noopener"></a>UI for this site</a> is derived from the <a href="https://github.com/asciidoctor/asciidoctor-docs-ui" target="_blank" rel="noopener">AsciiDoctor Docs UI</a>. Both are licensed under the MPL-2.0 license. Several icons are imported from <a href="https://primer.style/octicons/" target="_blank" rel="noopener">Octicons</a> and are licensed under the MIT license.</p>
  </div>
  <div class="footer-thanks">
    <p>Authored in <a href="https://asciidoc.org" target="_blank" rel="noopener">AsciiDoc</a>.<br>Produced by <a href="https://antora.org" target="_blank" rel="noopener">Antora</a> and <a href="https://asciidoctor.org" target="_blank" rel="noopener">Asciidoctor</a>.</p>
  </div>
</footer>
